<div class="container perks">
  <div class="container-fluid">
    <div class="row">
      <div class="perks-heading">
        <h1>Perk 1</h1>
        <div class="dotted-line"></div>
      </div>
      <div class="col-md-2 sidebar">
        <div class="perks-sidebar">
          <ul class="nav nav-tabs">
            <li><a href="#local" data-toggle="tab">Local</a></li>
            <li class="active"><a href="#national" data-toggle="tab">National</a></li>
          </ul>
          <div class="tab-content">
           <div id="national" class="tab-pane active">
             <h2 class="tab-title">Looking For</h2>
             <a>Restaurants</a>
             <a>Events &amp; Activities</a>
             <a>Health &amp; Fitness</a>
             <a>Food &amp; Drink</a>
             <a>Home Goods</a>
             <a>Automotive</a>
             <a>Fashion</a>
             <a>Electronics</a>
             <a>Online Retailers</a>
           </div>
           <div id="local" class="tab-pane">
              <h2 class="tab-title">Locations</h2>
              <a><i class="fa fa-map-marker"></i> Connecticut Pilot</a>
              <a><i class="fa fa-map-marker"></i> More Locations Coming Soon!</a>
           </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-md-offset-3 content">
        <div class="row">
          <div class="col-md-6">
            <div class="perk-image-container">
              <%= image_tag("burts_bees.jpg", :class=>'img-responsive featurette-image') %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="perk-description">
              <h3>Burts Bees</h3>
              <h5>Up to 50% Off</h5>
              <p><i class="fa fa-map-marker"></i> Somerville, MA</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

