 $green-theme: #009a96;
 $navbar-height: 50px;
 $full-navbar-height: 75px;
 $footer-height: 100px;
 $nav-tabs-border-color: black; 


 /*@nav-tabs-link-hover-border-color @nav-tabs-active-link-hover-bg @nav-tabs-active-link-hover-color @nav-tabs-active-link-hover-border-color @nav-tabs-justified-link-border-color @nav-tabs-justified-active-link-border-color */
