@import "bootstrap/variables";
@import "bootstrap/mixins";

/* Navbar */

$green-theme: #009a96;
$green-theme-top: #009a96;
$green-theme-bottom: #009a96;
$grey-theme-top: #BABABA;
$grey-theme-bottom: #4F4E4E;

@media (min-width: 768px) {
  	div.navbar-header {
		margin-right: 15px !important;
		margin-left: 10px !important;
	}
	.navbar-right {
		float: right !important;
	}
}
.navbar {
	line-height: 65px;
	background-color: white;
	.nav > li {
		&:hover {
			background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f3f3f3 100%);
			background-image: linear-gradient(to bottom, #ebebeb 0%, #f3f3f3 100%);
			background-repeat: repeat-x;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEBEBEB', endColorstr='#FFF3F3F3', GradientType=0);
			-webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
			box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
		}
	}
	.nav > li > a {
		font-family: 'Pompiere', "'Gotham SSm A', 'Gotham SSm B'", 'Helvetica Neue', Arial, Helvetica, sans-serif;
		font-size: 22px;
		letter-spacing: 0.5px;
		color: #303030;
	}
	.dropdown-menu > li > a {
		font-family: 'Pompiere', 'Gotham SSm A', 'Gotham SSm B', 'Helvetica Neue', Arial, Helvetica, sans-serif;
		font-size: 18px;
	}
}
.navbar-fixed-top {
  border-bottom: 2px #454343 solid;
}

div.navbar-header {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

a.navbar-logo {
	display: block;
	margin-left: 1px;
}

/*.navbar .nav > li > a {
	padding: (($navbar-height) / 2 - 1) 10px (($navbar-height) / 2 + 1);
}*/

/* Fonts */

h1, h2, h3, h4, h5, h6, a, p {
	margin: 0;
	font-family: 'Gotham SSm A', 'Gotham SSm B', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	text-rendering: optimizeLegibility;
}

/* Landing Page Images */
.landing-logo {
	display: inline-block;
}

.img-landing {
	background-image: url('/assets/smiling_girl.jpg');
	background-repeat: no-repeat;
	background-size: 1140px;
	background-position: center;
	background-color: white;
}

@media (min-width: 1154px) {
	.landing-logo {
		width: 250px;
	}
}

@media (min-width: 768px) and (max-width: 1153px) {
	.landing-logo {
		width: 200px;
	}
}

@media (min-width: 429px) and (max-width: 767px) {
	.landing-logo {
		width: 200px;
	}
	.navbar-button {
		btn {
			width: 100%;
		}
	}
}

@media (min-width: 100px) and (max-width: 428px) {
	.landing-logo {
		width: 200px;
	}
	.navbar-button {
		btn {
			width: 100%;
		}
	}
}

/* Landing Page Buttons */

#btn-sign-up, .btn-links {
	background: none;
	background-color: $green-theme;
	color: white;
	font-size: 2.5rem;
	margin-bottom: 0.5rem;
	&:hover {
		background-color: #127875;
		color: white;
	}
}
#btn-sign-up {
	font-weight: 600;
	font-size: 20px;
}

.navbar-button {
	padding: (($navbar-height - 34) / 2 ) 10px (($navbar-height - 34) / 2 ) !important;
	btn {
		font-family: 'Gotham SSm A', 'Gotham SSm B', 'Helvetica Neue', Arial, Helvetica, sans-serif;
		letter-spacing: 0px;
	}
	&:hover {
		background-color: inherit !important;
	}
}

#sign-up-footer {
	color: white !important;
}

.btn-links {
	font-size: 1.5rem;
}

.btn-links-2 {
	border: none;
	background: none;
	background-image: -webkit-linear-gradient(top, $grey-theme-top 0%, $grey-theme-bottom 100%);
	background-image: linear-gradient(to bottom, $grey-theme-top 0%, $grey-theme-bottom 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEBEBEB', endColorstr='#FFF3F3F3', GradientType=0);
	-webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
	color: white;
	font-size: 1.5rem;
	&:hover {
		background-image: linear-gradient(to bottom, grey 0%, grey 100%);
		border: none;
		color: white;
	}
}



.marketing .col-lg-4 i {
	font-size: 50px;
	color: $green-theme;
}

/* FOOTER */

#footer {
  background-color: #454343 !important;
  padding-top: 20px;
  padding-bottom: 10px;
  li {
      display: block;
      h3 {
      	font-family: 'Pompiere', 'Gotham SSm A', 'Gotham SSm B', 'Helvetica Neue', Arial, Helvetica, sans-serif;
      	margin-bottom: 5px;
      	color: white;
	 	}
	 	a.email {
	 		color: white;
	 	}
	 	a.icon {
	 		font-size: 30px;
	 		color: white;
	 	}
	 	a.icon:hover {
	 		text-decoration: none;
	 		color: grey;
	 	}
	 	h5 {
	 		color: grey;
	 		font-size: 12px;
	 		margin-top: 0.4rem;
	 	}
  	}
  a, p {
      color: rgb(205, 205, 205);
  }
  a.email {
  	color: blue;
  }
}
