@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "variables/global";

/* Navbar */

$green-theme: #009a96;
$green-theme-top: #009a96;
$green-theme-bottom: #009a96;
$grey-theme-top: #BABABA;
$grey-theme-bottom: #4F4E4E;
$font-1: 'Pompiere', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$font-2: "Open Sans",Verdana,Tahoma,"DejaVu Sans",sans-serif;
$font-3: OpenSansLight,'Helvetica Neue',Arial,Helvetica,FreeSans,sans-serif;

@media (min-width: 768px) {
  	div.navbar-header {
		margin-right: 15px !important;
		margin-left: 10px !important;
	}
	.navbar-right {
		float: right !important;
	}
}

div.navbar-secondary {
	margin-top: 25px;
	line-height: 50px;
	box-shadow: 0 0 3px #999;
	/*border-bottom: 2px #454343 solid;*/
}

div.navbar-primary {
	line-height: 25px !important;
	margin-bottom: 0px !important;
	min-height: 25px !important;
	background-image: url("/assets/navbar-top-background.png");
	box-shadow: 0 0 3px #999;
}

div.navbar-collapse {
	background-image: url("/assets/navbar-background.png");
}

ul.navbar-nav-primary {
	min-height: 30px;
	text-align: center;
	li#contact {
		background-color: #e19650;
		a {
			color: white;
			font-family: $font-1;
			font-size: 13px;
		}
	}
	li {
		display: inline-block;
		a {
			padding: 0 5px 0 5px;
			b {
				font-size: 17px;
			}
			img {
				vertical-align: middle;
			}
		}
	}
}

.navbar {
	background-color: white;
	background-image: url("/assets/navbar-background.png");
	.nav > li {
		&:hover {
			background-image: -webkit-linear-gradient(top, #ebebeb 0%, #f3f3f3 100%);
			background-image: linear-gradient(to bottom, #ebebeb 0%, #f3f3f3 100%);
			background-repeat: repeat-x;
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEBEBEB', endColorstr='#FFF3F3F3', GradientType=0);
			-webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
			box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
		}
	}
	.nav > li > a {
		font-family: $font-1;
		font-size: 22px;
		/*letter-spacing: 0.5px;*/
		color: #303030;
	}
	.dropdown-menu > li > a {
		font-family: $font-1;
		font-size: 18px;
	}
}

div.navbar-header {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

a.navbar-logo {
	display: block;
	margin-left: 1px;
}

/*.navbar .nav > li > a {
	padding: (($navbar-height) / 2 - 1) 10px (($navbar-height) / 2 + 1);
}*/

/* Fonts */

h1, h2, h3, h4, h5, h6, a, p {
	margin: 0;
	font-family: $font-2;
	text-rendering: optimizeLegibility;
	font-weight: 400;
}

/* Landing Page Images */
.landing-logo {
	display: inline-block;
}

.img-landing {
	background-image: url('/assets/family_jump.jpg');
	background-repeat: no-repeat;
	background-size: 1440px;
	background-position: center;
	background-color: white;
}

@media (min-width: 1154px) {
	.landing-logo {
		width: 250px;
	}
}

@media (min-width: 768px) and (max-width: 1153px) {
	.landing-logo {
		width: 150px;
	}
}

@media (min-width: 429px) and (max-width: 767px) {
	.landing-logo {
		width: 150px;
	}
	.navbar-button {
		btn {
			width: 100%;
		}
	}
}

@media (min-width: 100px) and (max-width: 428px) {
	.landing-logo {
		width: 150px;
	}
	.navbar-button {
		btn {
			width: 100%;
		}
	}
}

/* Landing Page Buttons */

#btn-navbar-sign-up {
	background: url("/assets/sign_up.png") no-repeat;
}
#btn-sign-up, .btn-links {
	font-family: $font-1;
	letter-spacing: 0.5px;
	background: none;
	font-weight: 600;
	background-color: $green-theme;
	color: white;
	font-size: 2.5rem;
	margin-bottom: 0.5rem;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	border-bottom-color: #228276;
	&:hover {
		background-color: #127875;
		color: white;
	}
}
#btn-sign-up {
	font-weight: 700;
	font-size: 20px;
}

.navbar-button {
	&:hover {
		background-color: transparent;
	}
	btn {
		font-family: $font-2;
		letter-spacing: 0px;
	}
}

#sign-up-footer {
	color: white !important;
}

.btn-links {
	font-size: 1.5rem;
}

.btn-links-2 {
	font-family: $font-2;
	border: none;
	background: none;
	background-image: -webkit-linear-gradient(top, $grey-theme-top 0%, $grey-theme-bottom 100%);
	background-image: linear-gradient(to bottom, $grey-theme-top 0%, $grey-theme-bottom 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFEBEBEB', endColorstr='#FFF3F3F3', GradientType=0);
	-webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
	color: white;
	font-size: 1.5rem;
	margin-top: 1.5rem;
	&:hover {
		background-image: linear-gradient(to bottom, grey 0%, grey 100%);
		border: none;
		color: white;
	}
}


/* Section Colors */

.second-section {
	background: rgb(52, 40, 40);
	color: white;
}

.fourth-section {
	background-image: url("/assets/body-background.png");
}

.third-section {
	background-image: url("/assets/navbar-top-background.png");
	color: white;
}


/* FOOTER */

#footer {
  background-color: #454343 !important;
  padding-top: 20px;
  padding-bottom: 10px;
  li {
      display: block;
      h3 {
      	font-family: $font-1;
      	margin-bottom: 5px;
      	color: white;
	 	}
	 	a.email {
	 		color: white;
	 	}
	 	a.fa {
	 		padding-top: 5px;	
	 		font-size: 30px;
	 		color: white;
	 		margin-right: 5px;
	 	}
	 	a.fa:hover {
	 		text-decoration: none;
	 		color: grey;
	 	}
	 	h5 {
	 		color: grey;
	 		font-size: 12px;
	 		margin-top: 0.4rem;
	 	}
  	}
  a, p {
      color: rgb(205, 205, 205);
  }
  a.email {
  	color: blue;
  }
}
