@import "bootstrap/variables";
@import "bootstrap/mixins";
/* Navbar */

$green-theme: #3BB07B;

@media (min-width: 768px) {
  	div.navbar-header {
		margin-right: 15px !important;
		margin-left: 10px !important;
	}
}
.navbar {
	line-height: 65px;
	font-size: 18px;
}
.navbar-fixed-top {
  border-bottom: 10px #454343 solid;
}

a.navbar-logo {
	display: block;
	margin-left: 5px;
}

/*.navbar .nav > li > a {
	padding: (($navbar-height) / 2 - 1) 10px (($navbar-height) / 2 + 1);
}*/

/* Fonts */

h1, h2, h3, h4, h5, h6, a, p {
	margin: 0;
	font-family: 'Gotham SSm A', 'Gotham SSm B', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

/* Landing Page Images */
.landing-logo {
	display: inline-block;
}

.img-landing {
	background-image: url('/assets/customer_reduced_exposure.png');
	background-repeat: no-repeat;
	background-size: 1500px;
}

@media (min-width: 1154px) {
	.landing-logo {
		width: 200px;
	}
}

@media (min-width: 768px) and (max-width: 1153px) {
	.landing-logo {
		width: 150px;
	}
}

@media (min-width: 429px) and (max-width: 767px) {
	.landing-logo {
		width: 150px;
	}
}

@media (min-width: 100px) and (max-width: 428px) {
	.landing-logo {
		width: 100px;
	}
}


.btn-benefits {
	background: none;
	border: solid;
	border-color: grey;
}

.btn-benefits:hover {
	background: none;
	border-color: white;
}

.btn-sign-up {
	background: none;
	background-color: $green-theme;
	border: 2px solid $green-theme;
	color: white;
	-webkit-transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}


.marketing .col-lg-4 i {
	font-size: 40px;
	color: $green-theme;
}

#footer {
  background-color: white !important;
  li {
      display: inline-block;
  }
}
